.card-inner {
    position: relative;
    width: 200px;
    height: 280px;
  }
  
  .card-flipped:hover {
    transform: scale(2);
    z-index: 10;
  }
  
  @media (min-width: 768px) {
    .card-flipped:hover {
      transform: scale(2.5);
    }
  }
  
  @media (min-width: 1024px) {
    .card-flipped:hover {
      transform: scale(3);
    }
  }
  
  .card img {
    width: 100%;
    height: auto;
    display: block;
  }
  